.aboutCard {
    justify-content: center;
    align-items: center;
    border-style: none;
}

.thynkery-logo1 {
    width: 30%;
    height: 30%;
    justify-content: center;
    align-items: center;
}